#mainpage-secondscreen {
  /* border: 1px solid pink; */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-title{
  /* border: 1px solid black; */
  width: 50%;
  height: 10%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title h1 {
  font-size: 50px;
}

.bio-main{
  /* border: 1px solid black; */
  height: 100%;
  width: 90%;
}

.bio-blurb{

}
