@font-face {
  font-family:'Bebas Neue';
  src: url('./fonts/BebasNeue-Regular.ttf');
}





#app {
  background-color: #e2e2e2 !important;
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  scroll-behavior: smooth;
  min-height: 100vh; /* Ensure the app covers at least the full viewport height */
}









